---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Video from '../components/Video.astro';
import BrandStory from '../components/BrandStory.astro';
import Trust from '../components/Trust.astro';
import Products from '../components/Products.astro';
import WhyChoose from '../components/WhyChoose.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
import ContactModal from '../components/ContactModal.astro';
---

<Layout title="翡翠原石 - 專業買手">
	<Header />
	<main>
		<Hero />
		<Video />
		<BrandStory />
		<Trust />
		<Products />
		<WhyChoose />
		<Contact />
	</main>
	<Footer />
	<ContactModal />
</Layout>
